Default page for GetmyShuttle
Use the end points described in the readme.md to access endpoints or CRUD page
<br>
<br>
<br>
##User Related
GET /api/v1/User/details/all   
<br>
GET /api/v1/User/details/{userId}<br>   
GET /api/v1/User/subscriptions/{userEmailID}  <br>
POST /api/v1/User/adduser  <br>
POST /api/v1/User/adduserroutes  <br>
</tr>

<br><br><br>
##User Checkin Related<br>
GET /api/v1/User/getcheckins/{userId}  <br>
POST /api/v1/User/checkin <br>

<br><br><br>
##RouteDetails Related<br>
GET /api/v1/User/completeroutedetails <br>
GET /api/v1/User/completeroutedetails/{routeId} <br>

<br><br><br>
##Map Realted<br>
GET /api/v1/User/getmapdetails/{userEmailID}  

</table>